:root {
  --bg-gradient: linear-gradient(#0f172b, #000000);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#0f172b, #000000);
  height: 100%;
  width: 100%;
}
nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_nav {
  min-width: 70%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}
.right_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;

}

/* Wo Button/Name jo opper show hoga */
.dropbtn {
  background-color: transparent;
  color: white;
  opacity: 0.7;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* List jo shuru me hidden hogi */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #192134;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
    padding: 10px 0px;
  border-radius: 10px;
}

/* List ke items ka style */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect: Item ka color change karna */
.dropdown-content a:hover {
  background-color: #314158;
}

/* MAIN LOGIC: Hover karne par content show karna */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  opacity: 1;
}
.down {
  width: 15px;
  height: 15px;
}
.drop_inner {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
    /* padding:  10px 0px; */
}
.drop_inner_logo {
  background-color: #45556c;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
  color: white;
}
.drop_inner_text {
  margin-left: 5px;
  line-height: 20px;
  position: relative;
}
.drop_inner_text h5 {
  font-size: 14px;
  display: flex;
}
.drop_inner_text .new {
  font-size: 13px;
  background-color: #fdc700;
  border-radius: 20px;
  padding: 0  8px;
  font-weight: bold;
  height: 16px;
  color: black;
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.drop_inner_text p {
  font-size: 13px;
  opacity: 0.7;
}
