:root {
  --bg-gradient: linear-gradient(#0f172b, #000000);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#0f172b, #000000);
  height: 100%;
  width: 100%;
}
nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_nav {
  min-width: 70%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}
.right_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}
.logo {
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Wo Button/Name jo opper show hoga */
.dropbtn {
  background-color: transparent;
  color: white;
  opacity: 0.7;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* List jo shuru me hidden hogi */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #192134;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0px;
  border-radius: 10px;
}

/* List ke items ka style */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect: Item ka color change karna */
.dropdown-content a:hover {
  background-color: #314158;
}

/* MAIN LOGIC: Hover karne par content show karna */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  opacity: 1;
}
.down {
  width: 15px;
  height: 15px;
}
.drop_inner {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  /* padding:  10px 0px; */
}
.drop_inner_logo {
  background-color: #45556c;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: grid;
  font-size: 17px;
  place-items: center;
  color: white;
}
.drop_inner_text {
  margin-left: 5px;
  line-height: 20px;
  position: relative;
}
.drop_inner_text h5 {
  font-size: 14px;
  display: flex;
}
.drop_inner_text .new {
  font-size: 13px;
  background-color: #fdc700;
  border-radius: 20px;
  padding: 0 8px;
  font-weight: bold;
  height: 16px;
  color: black;
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.drop_inner_text p {
  font-size: 13px;
  opacity: 0.7;
}
.upd_to_pro a {
  text-decoration: none;
  color: #fdc700;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 16px;
}
.login_btn a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
.login_btn {
  background: transparent;
  text-decoration: none;
  border: none;
  margin-right: 10px;
}
.login_btn a:hover {
  opacity: 1;
}
.sign_up_btn a {
  text-decoration: none;
  color: white;
}
.sign_up_btn {
  background: linear-gradient(to right, #2b7eff, #144ae8);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.sign_up_btn:hover {
  background: linear-gradient(to right, #2b7eff, #2d5ce8);
}
.section_1 {
  width: 100%;
  height: 50vh;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);

  position: relative;
}
.inner_section_1 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* line-height: 30px; */
}
.main_heading {
  background-image: linear-gradient(to bottom, #e6cef8, #bd78ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  background-size: cover;
  margin-bottom: 15px;
}
.inner_section_1 p {
  color: white;
  text-align: center;
  line-height: 28px;
  font-family: sans-serif;
  font-size: 18px;
  opacity: 0.7;
}
.section_1_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 94%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
}
.section_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
  position: relative;
}

.inner_section_2 {
  margin: 20px;
  display: flex;
  gap: 10px;
}
.section_2_inner_boxes {
  height: 53px;
  width: 260px;
  background-color: #0f172b;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  padding: 0 10px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  border-radius: 8px;
  position: relative;
}
.bookmark_icom {
  position: absolute;
  top: 10%;
  right: 2%;
  opacity: 0.7;
}
.section_2_inner_boxes:hover {
  border: 1px solid rgba(90, 89, 89, 1);
}
.bookmark_icom:hover {
  opacity: 1;
}
.inner_section_2_lines {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.create_box_1 {
  height: 53px;
  width: 260px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  border: 1px dashed rgba(90, 89, 89, 0.5);
  border-radius: 8px;
  /* position: relative; */
  font-size: 14px;
  gap: 5px;
}
.create_box_1:hover {
  border: 1px dashed rgba(90, 89, 89, 1);
  color: rgba(255, 255, 255, 1);
  background-color: #0f172b;
}
.section_2_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 97%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.section_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
  position: relative;
}
.section_3_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 98.5%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.small_new {
  color: #dab2ff;
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: 10%;
  gap: 5px;
}
.dot {
  font-size: 8px;
  color: #ad46ff;
  /* display: flex; */
  /* align-self: center; */
}
.section_4_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 90%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.section_6 {
  width: 100%;
  background-color: #f9fafb;
  padding: 40px 0px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
}
.section_6 h1 {
  color: black;
  margin: 20px 0px;
  font-weight: bold;
}
.inner_section_6 {
  width: 60%;
  margin: auto;
}
.section_6_inner_lines {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  margin: 10px 0px;
  color: #716d6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_6_inner_lines:hover .section_6_inner_lines_para {
  padding-left: 10px;
  color: #144ae8;
  /* transition: 0.1s; */
}
.section_6_inner_lines:hover .section_6_inner_small_new {
  color: #000000;
}
.section_6_inner_small_new {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-transform: uppercase;
  background-color: rgb(113, 217, 113);
  padding: 2px 5px;
  color: #000000;
}
.section_6_button {
  /* height: 32px; */
  padding: 8px 12px;
  background: linear-gradient(to right, rgb(91, 87, 128), black);
  border: none;
  border-radius: 20px;
  margin: 20px 0px;
}
.section_6_button:hover {
  background: linear-gradient(to right, #2b7eff, #144ae8);
}
.section_6_button_icon {
  font-size: 8px;
}
.section_6_button a {
  color: white;
  text-decoration: none;
}
.section_7 {
  width: 100%;
  background-color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
    border-bottom: 1px solid rgba(90, 89, 89, 0.5);
}
.inner_section_7 {
  width: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.inner_section_7 h1 {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_7_para {
  text-align: center;
  color: gray;
  margin: 20px 0px;
  line-height: 30px;
  font-size: 18px;
  width: 100%;
}
.section_7_lines {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  height: 25px;
}
.date a,
.dates_para a {
  text-decoration: none;
}
.date a {
  display: inline-block;
  color: rgb(197, 194, 194);
  border-right: 2px solid rgb(197, 194, 194);
  padding: 20px 0px;
  /* padding-right: 20px; */
  position: relative;
  width: 100px;
}
.date {
  /* width: 30%; */
}
.date_dot {
  position: absolute;
  bottom: 50%;
  left: 93%;
  transform: translateY(50%);
  font-size: 12px;
}
.dates_para {
  padding-left: 30px;
  /* width: 70%; */
}
.dates_para a {
  color: black;
}
.section_7_btns {
  margin: 30px;
}
.section_7_btn1 a {
  text-decoration: none;
  color: white;
}
.section_7_btn1 {
  background-color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
}
.section_7_btn1:hover {
  background-color: #314158;
}
.section_7_btn2 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.section_7_btn2 {
  background-color: white;
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 20px;
}
.section_7_btn2:hover {
  background-color: black;
}
.section_7_btn2:hover .section_7_btn2_btn {
  color: white;
}
.section_8 {
  width: 100%;
  background-color: white;
}
.inner_section_8 {
  width: 50%;
  margin: auto;
  padding: 40px 0px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inner_section_8 h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;

}
.inner_section_8 > p{
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: gray;
  margin-bottom: 50px;
  
}
.section_8_a{
  text-decoration: 2px underline rgb(101, 99, 99);
  color: rgb(101, 99, 99);
  font-weight: bold;
}
.section_8_a:hover{
  text-decoration: 2px underline rgb(67, 66, 66);
  color: rgb(67, 66, 66);
  
}
.inner_section_8_divs{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.section_8_divs{
  width: 33%;
}
.section_8_div1{
  border-right: 1px solid rgba(128, 128, 128, 0.347);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_8_divs > p{
  color: blue;
  margin: 20px 0;
}
.section_8_divs p small{
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #144ae8;
  color: white;
}
.section_8_divs h1{
margin: 0px;
font-weight:bold;
}
.section_8_divs > small{
font-weight: lighter;
margin-bottom: 10px;
color: gray;
}
.section_8_div_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 9px 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0px;
  cursor: pointer;
}
.section_8_div_btn_small_2{

  color: gray;
}
.section_8_div_btn:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}
.section_8_div_btn:hover .section_8_div_btn_small_2{

  color: white;
}
.section_8_div_btn_small_1{
  font-weight: 600;
  font-size: 14px;
}
.section_8_div3{
  border: none;
}
footer{
  width: 100%;
  background-color: #0f172b;
  
}
.footer_main_div{
  width: 80%;
  margin:  auto;
  padding: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer_div1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer_div1 a{
  text-decoration: none;
  color: white;
  opacity: .7;
}
.footer_div1 a:hover{
  opacity: 1;
}
.footer_div2{
  width: 100%;
  display: flex;
  margin-top: 60px;

}
.footer_divs_div1{
  width: 60%;
  text-align: start;
  color: rgb(230, 222, 222);
 
}
.footer_divs_div2{
  width: 40%;
  text-align: end;
  color: white;
  /* opacity: .6; */
  gap: 50px;
  
}
.footer_divs_div1_div1{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  
}
.footer_divs_div1_div1 > a:nth-child(2){
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.footer_divs_div1_div1 > small{
  opacity: .7;
}
.footer_divs_div1_div1 > button{
  background-color: rgb(90, 90, 255);
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
}
.footer_divs_div1_div1 > button:hover{
  background-color: rgb(45, 45, 252);

}
.footer_divs_div1 > p{
 opacity: .7;
 margin-bottom: 20px;
 line-height: 25px;
}
.footer_circle{
  font-size: 1px;
}
.footer_divs_div1_div2{
  display: flex;
  align-items: center;
  gap: 5px;
  color: gray;
}
.copy_icon{
  font-size: 10px;
  opacity: .7;
}
.Footer_link{
  text-decoration: none;
  color: gray;
}
.Footer_hovers:hover{
  color: white;

}
.footer_divs_div2_div{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.footer_divs_div2 img{
  margin-bottom: 20px;
}
.footer_divs_div2 p{
  line-height: 30px;
  margin-bottom: 20px;
  opacity: .6;
}
.Footer_hovers_0:hover{
  opacity: .6;

}
@media screen 
