:root {
  --bg-gradient: linear-gradient(#0f172b, #000000);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#0f172b, #000000);
  height: 100%;
  width: 100%;
}
nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_nav {
  min-width: 70%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}
.right_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}
.logo {
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Wo Button/Name jo opper show hoga */
.dropbtn {
  background-color: transparent;
  color: white;
  opacity: 0.7;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* List jo shuru me hidden hogi */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #192134;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0px;
  border-radius: 10px;
}

/* List ke items ka style */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect: Item ka color change karna */
.dropdown-content a:hover {
  background-color: #314158;
}

/* MAIN LOGIC: Hover karne par content show karna */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn:hover {
  opacity: 1;
}
.down {
  width: 15px;
  height: 15px;
}
.drop_inner {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  /* padding:  10px 0px; */
}
.drop_inner_logo {
  background-color: #45556c;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: grid;
  font-size: 17px;
  place-items: center;
  color: white;
}
.drop_inner_text {
  margin-left: 5px;
  line-height: 20px;
  position: relative;
}
.drop_inner_text h5 {
  font-size: 14px;
  display: flex;
}
.drop_inner_text .new {
  font-size: 13px;
  background-color: #fdc700;
  border-radius: 20px;
  padding: 0 8px;
  font-weight: bold;
  height: 16px;
  color: black;
  display: inline-flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.drop_inner_text p {
  font-size: 13px;
  opacity: 0.7;
}
.upd_to_pro a {
  text-decoration: none;
  color: #fdc700;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 16px;
}
.login_btn a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
.login_btn {
  background: transparent;
  text-decoration: none;
  border: none;
  margin-right: 10px;
}
.login_btn a:hover {
  opacity: 1;
}
.sign_up_btn a {
  text-decoration: none;
  color: white;
}
.sign_up_btn {
  background: linear-gradient(to right, #2b7eff, #144ae8);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.sign_up_btn:hover {
  background: linear-gradient(to right, #2b7eff, #2d5ce8);
}
.section_1 {
  width: 100%;
  height: 50vh;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);

  position: relative;
}
.inner_section_1 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* line-height: 30px; */
}
.main_heading {
  background-image: linear-gradient(to bottom, #e6cef8, #bd78ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  background-size: cover;
  margin-bottom: 15px;
}
.inner_section_1 p {
  color: white;
  text-align: center;
  line-height: 28px;
  font-family: sans-serif;
  font-size: 18px;
  opacity: 0.7;
}
.section_1_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 94%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
}
.section_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
  position: relative;
}

.inner_section_2 {
  margin: 20px;
  display: flex;
  gap: 10px;
}
.section_2_inner_boxes {
  height: 53px;
  width: 260px;
  background-color: #0f172b;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  padding: 0 10px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  border-radius: 8px;
  position: relative;
}
.bookmark_icom {
  position: absolute;
  top: 10%;
  right: 2%;
  opacity: 0.7;
}
.section_2_inner_boxes:hover {
  border: 1px solid rgba(90, 89, 89, 1);
}
.bookmark_icom:hover {
  opacity: 1;
}
.inner_section_2_lines {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.create_box_1 {
  height: 53px;
  width: 260px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  border: 1px dashed rgba(90, 89, 89, 0.5);
  border-radius: 8px;
  /* position: relative; */
  font-size: 14px;
  gap: 5px;
}
.create_box_1:hover {
  border: 1px dashed rgba(90, 89, 89, 1);
  color: rgba(255, 255, 255, 1);
  background-color: #0f172b;
}
.section_2_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 97%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.section_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.5);
  position: relative;
}
.section_3_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 98.5%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.small_new {
  color: #dab2ff;
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
  bottom: 10%;
  gap: 5px;
}
.dot {
  font-size: 8px;
  color: #ad46ff;
  /* display: flex; */
  /* align-self: center; */
}
.section_4_small_box {
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  top: 90%;
  width: 200px;
  border: 1px solid rgba(90, 89, 89, 0.5);
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0f172b;
  z-index: 1;
  right: 50%;
  transform: translateX(50%);
}
.section_6 {
  width: 100%;
  background-color: #f9fafb;
  padding: 40px 0px;
}
.section_6 h1 {
  color: black;
  margin: 20px 0px;
  font-weight: bold;
}
.inner_section_6 {
  width: 60%;
  margin: auto;

}
.section_6_inner_lines {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  margin: 10px 0px;
  color: #716d6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_6_inner_lines:hover .section_6_inner_lines_para{
  padding-left: 10px;
  color: #144ae8;
  /* transition: 0.1s; */
  
}
.section_6_inner_lines:hover  .section_6_inner_small_new{
  
 color:#000000 ;
  
}
.section_6_inner_small_new {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-transform: uppercase;
  background-color: rgb(113, 217, 113);
  padding: 2px 5px;
  color: #000000;
}
.section_6_button {
 /* height: 32px; */
 padding: 8px 12px;
 background:linear-gradient(to right, rgb(91, 87, 128),black);
 border: none;
 border-radius: 20px;
 margin: 20px 0px;
}
.section_6_button_icon{
  font-size: 8px;
  
}
.section_6_button a{
  color: white;
  text-decoration: none;
}

